<ion-header>
  <ion-toolbar>
    <ion-title>Histórico da Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">

    <ion-item lines="none">
      <ion-item style="width: 80%;">
        <ion-label position="floating"> Código QR </ion-label>
        <ion-input style="width: 100%;"></ion-input>
      </ion-item>
      <ion-button color="danger" (click)="loadPageContent()">Buscar</ion-button>
    </ion-item>

    <div class="content-loaded" *ngIf="true">
      <div class="client-container">
        <ion-toolbar>
          <ion-title>Cliente</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{(client | async)?.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>
        </ion-card>
      </div>

      <div class="machine-container">
        <ion-toolbar>
          <ion-title>Máquina</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Informações da máquina</ion-card-subtitle>
            <ion-card-title>{{(machine | async)?.brand}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </div>

      <div class="history-container">
        <ion-toolbar>
            <ion-title>Histórico</ion-title>
        </ion-toolbar>
        <ion-list>
          <ion-card *ngFor="let piece of history | async">
            <ion-card-header>
              <ion-card-title>{{piece.date}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{piece.content}}</ion-card-content>
          </ion-card>
        </ion-list>
      </div>
      <div>
        <ion-button expand="block">Escrever Histórico</ion-button>
        <ion-button expand="block">Cadastrar Máquina</ion-button>
      </div>
    </div>
  </div>
</ion-content>
