<ion-header>
  <ion-toolbar>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="width: 95%; margin-left: 2.5%;">
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input [(ngModel)]="qrQtd" type="number"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="generateCodes()">Gerar</ion-button>

    <div style="float: left;">
      <div style="float: left" *ngFor="let qrcode of qrcodeList">
        <ngx-qrcode qrc-value="{{qrcode.data}}" qrc-type="img"></ngx-qrcode>
        <p style="margin-left: 17px;">{{qrcode.data}}</p>
      </div>
      <br>
    </div>
    <ion-button expand="block" *ngIf="qrcodeList.length > 0" (click)="printQrCodes()">Download</ion-button>
  </div>
</ion-content>
