<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>

  <!-----------FORM REGISTER SELECTION------------->
  <div *ngIf="!getClientState() && !getMachineState() && !getQrCodeState()" style="width: 95%; margin-left: 2.5%;">
    <ion-button expand="block" (click)="displayClientForm()">Cliente</ion-button>
    <br>
    <ion-button expand="block" (click)="displayQrCodeForm()">QrCode</ion-button>
    <br>
    <ion-button expand="block" (click)="displayMachineForm()">Máquina</ion-button>
  </div>

  <!---------------CLIENT REGISTRATION------------->
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div *ngIf="getClientState()" style="max-width: 800px;">
      <ion-item class="input-item">
        <ion-label position="floating">Nome *</ion-label>
        <ion-input  ngModel name="name"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contato</ion-label>
        <ion-input  ngModel name="address"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-item class="input-item" style="width: 65%; margin-left: 3%;">
          <ion-label position="floating">Rua</ion-label>
          <ion-input ngModel name="street"></ion-input>
        </ion-item>

        <ion-item class="input-item" style="width: 30%; margin-left: 2%;">
          <ion-label position="floating">Número</ion-label>
          <ion-input type="number" ngModel name="number"></ion-input>
        </ion-item>
      </ion-item>
    </div>

    <!-------------QRCODE REGISTRATION------------->
    <div *ngIf="getQrCodeState()" style="max-width: 800px;">
      <ion-list>
        <ion-item>
          <ion-select placeholder="Cliente" ngModel name="client">
            <ion-item *ngFor="let client of clientSelection | async">
              <ion-select-option>{{client.name}}</ion-select-option>
            </ion-item>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select placeholder="Máquina" ngModel name="machine">
            <ion-item *ngFor="let machine of machineSelection | async">
              <ion-select-option>{{machine.identifier}}</ion-select-option>
            </ion-item>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Código *</ion-label>
        <ion-input ngModel name="qrcode"></ion-input>
      </ion-item>
    </div>


<!---------------MACHINE REGISTRATION------------->
    <div style="max-width: 800px;" *ngIf="getMachineState()">
      <ion-item class="input-item">
        <ion-label position="floating">Identificador *</ion-label>
        <ion-input ngModel name="identifier"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Marca</ion-label>
        <ion-input  ngModel name="brand"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Categoria</ion-label>
        <ion-input ngModel name="category"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Capacidade</ion-label>
        <ion-input ngModel name="capacity"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Tipo</ion-label>
        <ion-input ngModel name="kind"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Modelo</ion-label>
        <ion-input  ngModel name="model"></ion-input>
      </ion-item>
    </div>

    <br>

    <div style="width: 95%; margin-left: 2.5%;">
      <ion-button *ngIf="getFormState()" type="submit" expand="block">
        Cadastrar
      </ion-button>
      <ion-button *ngIf="getFormState()" (click)="closeForms()" expand="block">
        Voltar
      </ion-button>
    </div>
  </form>
</ion-content>
