<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <!-----------FORM REGISTER SELECTION------------->
  <div *ngIf="!(isClient || isMachine)" style="width: 95%; margin-left: 2.5%;">
    <ion-button expand="block" (click)="registerClient()">Cliente</ion-button>
    <br>
    <ion-button expand="block" (click)="registerMachine()">Máquina</ion-button>
  </div>

  <!---------------CLIENT REGISTRATION------------->
  <div style="max-width: 800px;" *ngIf="isClient">
    <ion-item class="input-item">
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Endereço</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-item class="input-item" style="width: 65%; margin-left: 3%;">
        <ion-label position="floating">Rua</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="input-item" style="width: 30%; margin-left: 2%;">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-item>

    <ion-list>
      <ion-item class="input-item">
        <ion-label>Maquina</ion-label>
        <ion-select placeholder="Selecione">
          <ion-select-option *ngFor="let machine of machines | async">
            {{machine.title}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

<!---------------MACHINE REGISTRATION------------->
<div style="max-width: 800px;" *ngIf="isMachine">
  <ion-item class="input-item">
    <ion-label position="floating">Marca</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Categoria</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Capacidade</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Tipo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Modelo</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-label position="floating">Local de Instalação</ion-label>
    <ion-input></ion-input>
  </ion-item>
</div>

  <br>
  <div style="width: 95%; margin-left: 2.5%;">
    <ion-button *ngIf="isClient || isMachine" (click)="completeRegistration()"
      expand="block"
    >
    Cadastrar
  </ion-button>
  </div>
</ion-content>
