<ion-header>
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Informações do cliente</ion-card-subtitle>
      <ion-card-title>Weg e equipamentos LTDA.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-list>
    
    <ion-item lines="none">
      <ion-label>Máquinas</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Máquina</ion-label>
      <ion-select placeholder="Selecione">
        <ion-select-option *ngFor="let machine of machines" value="{machine.value}">
          {{machine.title}}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
</ion-content>
