<ion-header>
  <ion-toolbar>
    <ion-title>Histórico da Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">

    <ion-item lines="none">
      <ion-item style="width: 80%;">
        <ion-label position="floating"> Código QR </ion-label>
        <ion-input style="width: 100%;" [(ngModel)]="key"></ion-input>
      </ion-item>
      <ion-button color="danger" (click)="loadPageContent()">Buscar</ion-button>
    </ion-item>

    <div class="content-loaded" *ngIf="contentLoaded">
      <div class="client-container">
        <ion-toolbar>
          <ion-title>Cliente</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{(client | async)?.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Contato: {{(client | async)?.contact}},<br>
            Rua: {{(client | async)?.street}}, Número: {{(client | async)?.number}}<br>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="machine-container">
        <ion-toolbar>
          <ion-title>Máquina</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{(machine | async)?.identifier}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Local: {{(ownMachine | async)?.location}},<br>
            Observação: {{(ownMachine | async)?.observation}},<br>
            Marca: {{(machine | async)?.brand}},<br>
            Categoria: {{(machine | async)?.category}},<br>
            Capacidade: {{(machine | async)?.capacity}},<br>
            Tipo: {{(machine | async)?.kind}},<br>
            Modelo: {{(machine | async)?.model}}
          </ion-card-content>
        </ion-card>
      </div>

      <div class="history-container">
        <ion-toolbar>
            <ion-title>Histórico</ion-title>
        </ion-toolbar>
        <ion-list>
          <ion-card *ngFor="let piece of history | async">
            <ion-card-header>
              <ion-card-title>{{piece.date}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{piece.content}}</ion-card-content>
          </ion-card>
        </ion-list>
      </div>

      <div class="history-registration" *ngIf="isHistory" style="width: 95%; margin-left: 2.5%;">
        <ion-item>
          <ion-label position="floating">Conteúdo...</ion-label>
          <ion-textarea id="historyPiece"></ion-textarea>
        </ion-item>
        <ion-button color="success" expand="block" (click)="saveHistory()">Salvar</ion-button>
        <ion-button color="danger" expand="block" (click)="closeHistoryForm">Cancelar</ion-button>
      </div>

      <br>

      <div style="width: 95%; margin-left: 2.5%;">
        <ion-button expand="block" (click)="showHistoryForm()">Escrever Histórico</ion-button>
      </div>
    </div>
  </div>
</ion-content>
