<ion-header>
  <ion-toolbar>
    <ion-title>Histórico da Máquina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container" *ngIf="getDisplayState()">

    <ion-item lines="none">
      <ion-item style="width: 80%;">
        <ion-label position="floating"> Código QR </ion-label>
        <ion-input style="width: 100%;" [(ngModel)]="key"></ion-input>
      </ion-item>
      <ion-button color="danger" (click)="loadPageContent()">Buscar</ion-button>
    </ion-item>

    <div class="content-loaded" *ngIf="contentLoaded">
      <div class="client-container">
        <ion-toolbar>
          <ion-title>Cliente</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{(client | async)?.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Contato: {{(client | async)?.contact}},<br>
            Rua: {{(client | async)?.street}}, Número: {{(client | async)?.number}}<br>
          </ion-card-content>
          <ion-button size="small" (click)="displayClientForm()">Atualizar Cliente</ion-button>
        </ion-card>
      </div>

      <div class="machine-container">
        <ion-toolbar>
          <ion-title>Máquina</ion-title>
        </ion-toolbar>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{(machine | async)?.identifier}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Observação: {{(ownMachine | async)?.observation}},<br>
            Marca: {{(machine | async)?.brand}},<br>
            Categoria: {{(machine | async)?.category}},<br>
            Capacidade: {{(machine | async)?.capacity}},<br>
            Tipo: {{(machine | async)?.kind}},<br>
            Modelo: {{(machine | async)?.model}}
          </ion-card-content>
          <ion-button size="small" (click)="displayMachineForm()">Atualizar Máquina</ion-button>
        </ion-card>
      </div>

      <div class="history-container">
        <ion-toolbar>
            <ion-title>Histórico</ion-title>
        </ion-toolbar>
        <ion-list>
          <ion-card *ngFor="let piece of history | async">
            <ion-card-header>
              <ion-card-title>{{piece.date}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>{{piece.content}}</ion-card-content>
          </ion-card>
        </ion-list>
      </div>

      <div class="history-registration" *ngIf="isHistory" style="width: 95%; margin-left: 2.5%;">
        <ion-item>
          <ion-label position="floating">Conteúdo...</ion-label>
          <ion-textarea id="historyPiece"></ion-textarea>
        </ion-item>
        <ion-button color="success" expand="block" (click)="saveHistory()">Salvar</ion-button>
        <ion-button color="danger" expand="block" (click)="closeHistoryForm">Cancelar</ion-button>
      </div>

      <br>

      <div style="width: 95%; margin-left: 2.5%;">
        <ion-button expand="block" (click)="showHistoryForm()">Escrever Histórico</ion-button>
      </div>
    </div>
  </div>

  <!---------------UPDATE REGISTERS------------->

  <div class="registers">
    <!--------------- CLIENT ------------->
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div *ngIf="getClientState()" style="max-width: 800px;">
        <ion-item class="input-item">
          <ion-label position="floating">Nome *</ion-label>
          <ion-input  ngModel name="name"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Contato</ion-label>
          <ion-input  ngModel name="contact"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-item class="input-item" style="width: 65%; margin-left: 3%;">
            <ion-label position="floating">Rua</ion-label>
            <ion-input ngModel name="street"></ion-input>
          </ion-item>

          <ion-item class="input-item" style="width: 30%; margin-left: 2%;">
            <ion-label position="floating">Número</ion-label>
            <ion-input type="number" ngModel name="number"></ion-input>
          </ion-item>
        </ion-item>
      </div>

  <!--------------- MACHINE ------------->
      <div style="max-width: 800px;" *ngIf="getMachineState()">
        <ion-item class="input-item">
          <ion-label position="floating">Identificador *</ion-label>
          <ion-input ngModel name="identifier"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Marca</ion-label>
          <ion-input  ngModel name="brand"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Categoria</ion-label>
          <ion-input ngModel name="category"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Capacidade</ion-label>
          <ion-input ngModel name="capacity"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Tipo</ion-label>
          <ion-input ngModel name="kind"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input  ngModel name="model"></ion-input>
        </ion-item>
      </div>

      <br>

      <div style="width: 95%; margin-left: 2.5%;">
        <ion-button *ngIf="getFormState()" type="submit" expand="block">
          Cadastrar
        </ion-button>
        <ion-button color="danger" *ngIf="getFormState()" (click)="closeForms()" expand="block">
          Cancelar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
