<div class="client-body">
    <mat-form-field class="client-input">
        <input matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="client-input">
        <input matInput placeholder="Endereço">
    </mat-form-field>
    <mat-form-field class="client-input number">
        <input matInput placeholder="Número">
    </mat-form-field>
    <mat-form-field class="client-input complement">
        <input matInput placeholder="Complemento">
    </mat-form-field>
    <mat-form-field class="client-input">
        <input matInput placeholder="Máquina">    
    </mat-form-field>

    <button mat-raised-button color="primary" class="btn-cadastrar">Cadastrar</button>
</div>