.client-body {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    max-width: 500px;
}
.client-input{
    width: 100%;
}
.btn-cadastrar {
    width: 100%;
}
.number {
    width: 20%;
}
.complement {
    width: 75%;
    margin-left: 5%;
}